/* src/components/BrandAssociations.css */
.brand-associations {
    text-align: center;
    padding: 30px 0;
  }
  
  .brand-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .brand-item {
    margin: 20px;
    text-align: center;
  }
  
  .brand-item img {
    width: 100px; /* Adjust the size of the brand logos */
    height: auto;
  }
  